.App {
  text-align: center;
}

.header {
  background:blue;
  color:white;
  font-size: 30px;
  padding: 40px;

}

#signin-form > input {
  width: 1000px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 40px;


}